.clientName {
  font-size: 0.625rem;
  position: absolute;
  top: 12.85rem;
  left: 4.5rem;
}

.clientAddress {
  font-size: 0.625rem;
  position: absolute;
  top: 14.35rem;
  left: 4.5rem;
}

.invoiceDate {
  font-size: 0.625rem;
  position: absolute;
  top: 6.7rem;
  right: 2rem;
  background-color: transparent;
  border: transparent;
}

.invoiceNumber {
  font-size: 0.625rem;
  position: absolute;
  top: 11.4rem;
  left: 12.7rem;
}
