.searchBar {
  width: 60%;
  height: auto;
  border-bottom: 1px solid var(--color-secondary-light);
  opacity: 0.7;
}

.button {
  background-color: transparent;
}

.icon {
  font-size: 0.875rem;
  color: var(--color-secondary-text);
  margin-right: 0.5rem;
}

.input {
  font-size: 0.875rem;
  color: var(--color-secondary-text);
  background-color: transparent;
  border: transparent;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-secondary-text);
  font-style: italic;
}
